// Specific CSS for your home-page

.bg-image{
  background-image: image-url('velo-2.png'), linear-gradient(to right, rgb(0,29,61), rgb(8, 8, 7));
  height: 35rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  position: relative;
}

.container-info{
  padding-left: 5.5rem;
  // padding-top: 5.5rem;
  position: relative;
  z-index: 2; /* Assurez-vous que c'est au-dessus du fond */
}

#pvu{
  color: #FCFCFC; /* Utilisez des couleurs contrastées pour le texte */
  font-family: 'Exo 2', sans-serif;
  font-weight: 600;
  font-style: italic;
  position: relative;
  z-index: 3; /* Texte au-dessus du conteneur-info */
}

h2{
  color: #FFD60A; /* Utilisez des couleurs contrastées pour le texte */
  font-family: 'Exo 2', sans-serif;
  font-weight: 600;
  font-style: italic;
}

.form-label{
  color: #fcfcfc;
  font-family: 'Exo 2', sans-serif;
  font-size: x-large;
  font-weight: 200;
}
.form-input{
  width: 30vw;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border:none;
}

.btn-form{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0 8px;
  background-color:#FFD60A;
  color:#001D3D;
  font-family: 'Exo 2', sans-serif;
  transition: 0.3s ease-in-out;

  &:hover{
    background-color:#FFC300;
  }
}


.card-advisor {
  position: relative;
  height: 420px;
  background: #f9e581de;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}

.card-advisor::before {
  content: '';
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 30%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  z-index: 1;

}

.card-advisor img {
  height: 70%;
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 0;

}

.card-advisor #advisor-name, .card-advisor h6, .card-advisor #loc{
  position: absolute;
  z-index: 2;
  color: white;
  width: 100%;
  margin-left: 2rem;
}

.card-advisor #advisor-name {
  bottom: 45%;
  font-size: x-large;

}

.card-advisor h6 {
  bottom: 38%;
  font-family: 'Raleway', sans-serif;
  font-size: large;
}

.card-advisor #loc{
  bottom: 30%;
  font-family: 'Raleway', sans-serif;
  font-size: small;
}

.advisor-info{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: relative;
  border-bottom: solid 0.5px #001D3D;
}


.advisor-info #bio {
  margin: 0px;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  color: #001D3D;

}
.advisor-info a {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}


.card-advisor .adivosr-info {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex:1;
  justify-content: center;
  align-items: center;
}

.parent-rdv{
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
}

.parent-rdv > .rdv{
  text-decoration: none;
  color: #001D3D;
  font-size: 13px;
  font-family: 'Exo 2', sans-serif;
  font-weight:bold ;
 }
