<h1>Welcome to WILLY</h1>

 <div class="container mt-4">
    <div class="row">
      <% @advisors.each do |advisor| %>
        <div class="col-sm">
          <div class="card-advisor">
            <img src="https://source.unsplash.com/random/?portrait" alt="Advisors">
            <div class="advisor-info">
              <h2><%= "#{advisor.first_name} #{advisor.last_name}" %></h2>
              <h6><%= advisor.speciality%></h6>
              <%= link_to "prendre rendez-vous", show_advisor_path(advisor) %>
            </div>
          </div>
        </div>
      <% end  %>
    </div>
  </div>
</div>
