<div class= "bg-image">
  <div class="container-info container mx-auto">
    <h2 id="pvu">L'expertise des vélocistes en un click !</h1>
    <h2>Réservez - Réprarez - Roulez</h4>
    <br>
    <form id="search-cities">
      <div class="form-group">
        <label for="city-name" class="form-label">Chercher une ville </label>
        <div class="d-flex">
          <input type="text" id="city-name" class="form-input" placeholder="Paris, Nantes, Bordeaux...">
          <input type="submit" value="Rechercher" class="btn-form">
        </div>
      </div>
    </form>
  </div>
  <%# <%= image_tag("velo-2.png") %>
</div>

 <div class="container mt-4">
    <div class="row">
      <% @advisors.each do |advisor| %>
        <div class="col-sm">
          <div class="card-advisor">
            <img src="https://source.unsplash.com/random/?portrait" alt="Advisors">
            <div class="advisor-info">
              <h2><%= "#{advisor.first_name} #{advisor.last_name}" %></h2>
              <h6><%= advisor.speciality%></h6>
              <%= link_to "prendre rendez-vous", show_advisor_path(advisor) %>
            </div>
          </div>
        </div>
      <% end  %>
    </div>
  </div>
</div>
