<h1>SHOW de L'ADVISOR</h1>

<div class="container">
<div class="advisor-appoint">
  <img src="https://source.unsplash.com/random/?portrait" alt="Advisor">
  <div class="advisor-inf">
    <h2><%= "#{@advisor.first_name} #{@advisor.last_name}" %></h2>
    <h4><%= @advisor.bio %></h4>
  </div>
</div>

<%= link_to "Make an appointment", new_advisor_appointment_path(advisor_id: @advisor.id), data: { turbo_frame: "appointment_form" }%>



</div>
